<AuthorizeView>
    <Authorized>
        <span>Hello @context.User.Identity.Name!</span>
        <a href="/Identity/Account/LogOut?returnUrl=%2F">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="/Identity/Account/Register">Register</a>
        <a href="/Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>
