@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <span id="manage"> Hello @UserManager.GetUserName(User)!</span>
    <a href="/Identity/Account/LogOut?returnUrl=%2F">Logout</a>

}
else
{
    <a href="/Identity/Account/Register">Register</a>
    <a href="/Identity/Account/Login">Login</a>
}
