@page "/project/{projectId}"
@model BoundBoxApp.ProjectDetailsModel
@using BoundBoxApp.Pages.Project
@using BoundBoxApp.Model


<h2>Project Details</h2>

<div>
    <h4>Title</h4>
    <p>@Model.Project.Title</p>
</div>
<div>
    <h4>Categories</h4>
    <p>@Model.Project.Categories</p>
</div>
<div>
    <h4>Is For Object Detection</h4>
    <p>@Model.Project.IsForObjectDetection</p>
</div>


@(await Html.RenderComponentAsync<ImageDisplay>(RenderMode.Server, new { Project = Model.Project }))



