@page "/project"
@model BoundBoxApp.Pages.Project.ProjectModel


@{
    List<BoundBoxApp.Model.Project> projects = 
        ViewData["Projects"] as List<BoundBoxApp.Model.Project>;
}


<h2>Projects</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Is for Object Detection </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in projects)
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Categories</td>
                <td>@project.IsForObjectDetection</td>
                <td>
                    <a class="btn btn-outline-secondary btn-sm" href="/project/@project.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/project/new" class="btn btn-primary my-2">Add New Project</a>



